body { background: #e1f135; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 40px; display: flex; }
.block-product-0 { color: #3717f; font-size: 17px; margin-bottom: 5px; }
.block-database-1 { color: #812848; font-size: 14px; margin-bottom: 5px; }
.block-email-2 { color: #cfd9ee; font-size: 12px; margin-bottom: 5px; }
.block-payment-3 { color: #db0bde; font-size: 13px; margin-bottom: 5px; }
.block-invoice-4 { color: #a99569; font-size: 20px; margin-bottom: 5px; }